<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <div class="container">
        <img class="forw" src="/imgs/unnamed (1).png" alt="">
        <div id="botte" class="intern">
            <img src="/imgs/unnamed (1)_leaf.png" alt="">
            <div class="grape_button" onmouseover="chbot(1)" onmouseout="chbot(0)" onclick="full(bkg_b)">
                <a href="/product">product</a>
            </div>
        </div>
     </div>
</body>
</html>